#admin-panel {
  font-family: 'Inconsolata', mono;
}

#top-row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#top-row > span {
  font-size: 28px;
  font-weight: bold;
}

.title-bar {
  padding: 40px 20px 20px 20px;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

iframe {
  display: block;
  width: 100%;
  border: 1px solid white;
}

a {
  color: #E6DB6F;
}
