@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inconsolata-v21-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/inconsolata-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/inconsolata-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/inconsolata-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/inconsolata-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/inconsolata-v21-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}

* {
  box-sizing: border-box;
}

body {
  background: black;
  margin: 0;
}

#chat-frame {
  font-family: 'Inconsolata', mono;
}
#chat-frame marquee {
  background-color: blue;
}

#chat-window {
  height: calc(100vh - 66px);
  overflow-y: scroll;
}

.chat-message {
  display: grid;
  grid-template-columns: 230px auto;
  margin: 5px 0;
}

.chat-message > span:nth-child(1) {
  text-align: right;
  margin-right: 10px;
}

#chat-box {
  background-color: blue;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#chat-box button {
  width: 66px;
}

#chat-box input {
  width: calc(100% - 75px);
}
